* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}


.text_orange {
  color: orange;
}
a, li , i {
  cursor: pointer;
}

a {
  text-decoration: none;
}

section {
  max-width: 1100px;
  margin: 0 auto;
}

/* MAIN CONTAINER */

.main_cnt {
  width:100%;
  height:2000px;
  background:yellow;
}

/* HEADER */
header {
  height: 80px;
  width: 100%;
  position: fixed;
  top:0;
  left: 0;
  z-index: 1;
  background: black;
}

nav {
  padding: 10px 0px;
  height: 80px;
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a, nav a *, nav a:hover {
  font-size: 1.1em; /*20px*/
  color: white;
}

nav * {
  margin: 0px 10px;
}

nav .fas:not(.caret-down) {
  font-size: 1.5em;
}

.button {
  padding: 10px 15px;
  border-radius: 2px;
}

.button.button_blue {
  font-weight: bold;
  background: blue;
}

.button.button_orange{
  text-transform: capitalize;
  background: orange;
}

/* HERO SECTION */

.hero_section {
  margin-top: 80px;
  padding-top: 40px;
}

.hero_section .latest_videos {
  width: 100%;
  background: black;
}

.hero_section .latest_videos:after {
  content: '';
  display: table;
  clear: both;
}

.latest_videos .videos_cnt {
  position: relative;
  float: left;
  width:20%;
  height:auto;
}

@media all and (max-width: 991px) {

  .latest_videos .videos_cnt {
    width:25%;
  }

}

.videos_cnt img {
  padding: 10px;
  margin: 0 auto;
  max-width: 100%;
}

.videos_cnt .video_cnt_layer {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  display: flex;
  flex-direction: column;
}










@media all and (max-width: 991px) {

  .hiddenBelow991 {
    display: none;
  }

}
