* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  color: white;
}



a, li , i {
  cursor: pointer;
}

a {
  color: white;
  text-decoration: none;
}

section {
  max-width: 1100px;
  margin: 0 auto;
}

/* MAIN CONTAINER */

.main_cnt {
  width:100%;
  height:2000px;
  background-color: rgb(254,232,234)
}

/* HEADER */
header {
  height: 80px;
  width: 100%;
  position: fixed;
  top:0;
  left: 0;
  z-index: 1;
  background: black;
}

nav {
  padding: 10px 0px;
  height: 80px;
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a, nav a *, nav a:hover {
  font-size: 1.1em; /*20px*/
  color: white;
}

nav * {
  margin: 0px 10px;
}

nav .fas:not(.caret-down) {
  font-size: 1.5em;
}

.button {
  padding: 10px 15px;
  border-radius: 2px;
}

.button.button_blue {
  font-weight: bold;
  background: blue;
}

.button.button_orange{
  text-transform: capitalize;
  background: orange;
}

/* HERO SECTION */

.hero_header, .hero_body {
  max-width: 90%;
  margin: 0 auto;
}


.hero_section {
  margin-top: 80px;
  padding-top: 40px;
}

.hero_section .hero_header {
  margin-bottom: 50px;
}
.hero_section .latest_videos {
  position:relative;
  width: 100%;
  display: flex;
  background: black;
}

.latest_videos .video_cnt {
  position: relative;
}

.video_cnt_layer {
  position: relative;
}

.video_cnt img {
  padding: 10px;
  max-width: 100%;
}

.video_cnt .video_cnt_layer .video_layer_content {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height: 100%;
}

.video_cnt .video_cnt_layer .video_layer_content {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.video_cnt_layer .video_layer_content .video_layer_title {
  color:white;
  text-transform: uppercase;
  font-weight: bold;
}

.video_cnt_layer .video_layer_content .video_layer_body {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  color: white;
}

.video_cnt_layer .video_layer_content .video_layer_body span {
  font-size: 1.2rem;
  text-align: justify;
  margin-right: 2rem;
}

.video_cnt_layer .video_layer_content .video_layer_body i {
font-size: 2.5em;
}

.video_cnt:hover .video_cnt_layer{
 transform: scale(1.5);
 z-index: 999;
}
.video_cnt:hover .video_cnt_layer .video_layer_content {
  padding:20px;
}

/* HERO BODY */

.hero_section .hero_body {
  background:pink
}

.hero_body .categories * {
  text-transform: uppercase;
  font-weight: bold;
  color: black;
}

.hero_body .categories {
  height: 100%;
  background: white;
}

.hero_body .categories>h4 {
  font-size: 1.5rem;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}

.hero_body .categories>h4>i {
  font-size: 1em;
  margin-right: 6px;
}

.hero_body .categories ul li {
  margin-bottom: 8px;
  font-size: 0.7em;
}

.hero_body img {
  width: 100%;
}

.hero_body .articles, .hero_body {
  /* background: green; */
}

.hero_body .top_article {
  margin-bottom: 10px;
}
.hero_body .top_article .top_links {
  padding: 10px 15px;
  border-top: 1px solid white;
}

.hero_body .top_article .top_links i {
  color:orange;
  margin: 0 10px;
}

.hero_body .articles_left .secondary_articles .secondary_article {
  margin-bottom: 20px;
}

.hero_body .articles_left .secondary_articles .secondary_article h4 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.3rem;
  color:orange;
}

.hero_body .articles_left .secondary_articles .secondary_article a h3 {
  color: black;
  font-size: 1.7rem;
}

.hero_body .articles .secondary_links * {
  color: black;
}

.hero_body .articles .secondary_links i {
  color: orange;
  margin-right: 5px;
}

.hero_body .articles .secondary_links p {
  padding-bottom: 5px;
  color: orange;
  text-transform: uppercase;
  font-weight: bold;
  border-bottom: 1px solid black;
}

.hero_body .articles .secondary_links p span{
  font-size: 0.7em;
}

.hero_body .articles .secondary_links a {
  display: block;
  font-size: 0.8em;
}






@media all and (max-width: 991px) {

  .hiddenBelow991 {
    display: none;
  }

}
