/* GAZZETTA.IT - style.css */

/* GENERAL RULES */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  color: white;
}

@media all and (max-width: 500px) {
  * {
    font-size: 12px;
  }
}

a, li , i {
  cursor: pointer;
}

a, a:hover {
  color: white;
  text-decoration: none;
}

section {
  max-width: 1100px;
  margin: 0 auto;
}

/* MAIN CONTAINER */

.main_cnt {
  background-color: rgb(254,232,234)
}

/* HEADER-->NavBar */

header {
  height: 80px;
  width: 100%;
}

nav {
  padding: 10px 0px;
  height: 80px;
  max-width: 1100px;
  margin: 0 auto;
}

nav a, nav a *, nav a:hover {
  font-size: 1.1em; /*20px*/
  color: white;
}

nav * {
  margin: 0px 10px;
}

nav .navBar_left img {
  max-width: 1.5em;
}

nav .fas:not(.caret-down) {
  font-size: 1.5rem;
}

.button {
  padding: 10px 15px;
  border-radius: 2px;
}

.button.button_blue {
  font-weight: bold;
  background: blue;
}

.button.button_orange{
  text-transform: capitalize;
  background: orange;
}

/* HERO SECTION */

/* HERO SECTION - General Rules */

.hero_header, .hero_body {
  max-width: 90%;
  margin: 0 auto;
}

@media all and (max-width: 500px) {

  .hero_header, .hero_body {
    max-width: 80%;
  }

}

.hero_section {
  margin-top: 80px;
  padding-top: 40px;
}

/* HERO SECTION-->Hero Header */

.hero_section .hero_header.latest_videos {
  margin-bottom: 50px;
  width: 100%;
}

.video_cnt_layer {
  position: relative;
}

.video_cnt img {
  padding: 10px;
  max-width: 100%;
}

.video_cnt .video_cnt_layer .video_layer_content {
  padding: 10px;
}

.video_cnt_layer .video_layer_content .video_layer_title {
  color:white;
  background: orange;
  text-transform: uppercase;
  font-weight: bold;
}

.video_cnt_layer .video_layer_content .video_layer_body {
  color: white;
}

.video_cnt_layer .video_layer_content .video_layer_body span {
  font-size: 1.2rem;
  text-align: justify;
  margin-right: 2rem;
}

.video_cnt_layer .video_layer_content .video_layer_body i {
  font-size: 2.5em;
}

.video_cnt:hover .video_cnt_layer{
 transform: scale(1.5);
 z-index: 1;
}

.video_cnt:hover .video_cnt_layer .video_layer_content {
  padding:20px;
}

/* HERO SECTION-->Hero Body */

/* HERO SECTION-->Hero Body-->Categories */

.hero_body .categories * {
  text-transform: uppercase;
  font-weight: bold;
  color: black;
}

.hero_body .categories {
  padding: 0;
  height: 100%;
  border-top: 3px solid black;
}

.hero_body .categories .categories_header, .hero_body .categories .categories_body  {
  padding: 10px 15px;
}

.hero_body .categories .categories_header {
  border-bottom: 1px solid black;
}

.hero_body .categories .categories_header>h4 {
  font-size: 1.5rem;
}

.hero_body .categories .categories_header>h4>i {
  font-size: 1em;
  margin-right: 6px;
}

.hero_body ul li {
  margin-bottom: 8px;
}

.hero_body .categories ul li a {
  font-size: 0.7em;
}

.hero_body .categories ul li a span.live_badge {
  padding: 3px 5px;
  font-size: 0.9em;
  border-radius: 3px;
  color:white;
  background: red;
}

/* HERO SECTION-->Hero Body-->articles_and_spots  */

.hero_body .articles_and_spots .articles {
  padding-bottom: 20px;
}

@media all and (min-width: 991px) {

    .hero_body .articles_and_spots{
      border-left: 1px solid black;
    }

}

.hero_body .articles_and_spots img {
  width: 100%;
}

.hero_body .top_article {
  margin-bottom: 20px;
}

.hero_body .top_article img {
  filter: opacity(0.7);
}

.top_article .top_article_cnt .article_layer_content {
  padding: 20px 20px 0px 20px;
}

.top_article .top_article_cnt .article_layer_content h2, .top_article .top_article_cnt .article_layer_content h4 {
  margin: 5px 0px;
  font-size: 2.5rem;
  font-weight: bold;
}

.top_article .top_article_cnt .article_layer_content h4.top_article_score  span {
  padding:5px 10px;
  text-transform: uppercase;
  font-weight: bold;
}

.top_article .top_article_cnt .article_layer_content h4 {
  font-weight: bold;
}

.top_article .top_article_cnt .article_layer_content p.top_article_excerpt {
  margin: 0px;
  font-size: 1.5rem;
}

.top_article .top_article_cnt .article_layer_content p.top_article_stats * {
  font-size: 1rem;
}

.top_article .top_article_cnt .article_layer_content p.top_article_stats>span.author {
  margin-right: 10px;
  text-transform: uppercase;
  font-weight: bold;
  color: orange;
}

.top_article .top_article_cnt .article_layer_content p.top_article_img_caption {
  font-size: 0.8rem;
}

.hero_body .top_article .top_links {
  padding: 10px 15px;
  border-top: 1px solid white;
}

.hero_body .top_article .top_links a {
  margin-right: 15px;
  font-weight: bold;
}

.hero_body .top_article .top_links i {
  color:orange;
  margin-right: 15px;
}

.hero_body .secondary_article {
  margin-bottom: 20px;
}

.hero_body .secondary_article h4 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.3rem;
  color:orange;
}

.hero_body .secondary_article a h3 {
  color: black;
  font-size: 1.6rem;
}

.hero_body .secondary_article a p {
  font-size: 0.6rem;
  color: black;
}

.hero_body .articles_and_spots .secondary_links * {
  color: black;
}

.hero_body .articles_and_spots .secondary_links i {
  color: orange;
  margin-right: 5px;
}

.hero_body .articles_and_spots .secondary_links p {
  padding-bottom: 5px;
  color: orange;
  text-transform: uppercase;
  font-weight: bold;
  border-bottom: 1px solid black;
}

.hero_body .articles_and_spots .secondary_links p span{
  font-size: 0.7em;
}

.hero_body .articles_and_spots .secondary_links a {
  display: block;
  font-weight: bold;
  font-size: 0.8em;
}

@media all and (max-width: 767px) {

  .hero_body .articles_right{

    flex-direction: column-reverse;
  }

}

.hero_body .articles_right .side_links_column {
  margin: 10px 0px 20px 0px;
}

.hero_body .articles_right .side_spot {
  padding: 20px;
  background: pink;
}

.hero_body .side_article.secondary_article h4 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.3rem;
  color:orange;
}

.hero_body .side_links_column.secondary_links a {
  display: inline-block;
  margin-right: 5px;
  font-size: 1.1rem;
}

.hero_body .side_article.secondary_article a h3 {
  color: black;
  font-size: 2rem;
}

.hero_body .side_article.secondary_article a p {
  color: black;
  font-size: 2rem;
}

.hero_body .articles_and_spots .bottom_topSpot_area {
  padding: 20px;
  border-top: 1px solid lightgrey;
}

.hero_body .articles_and_spots .bottom_topSpot_area a img{
  max-width: 95%;
}

/* RESPONSIVE CLASSES MEDIA QUERIES */

@media all and (max-width: 991px) {

  .hiddenBelow991 {
    display: none;
  }

}
